page-home {
    margin: 0 auto;
    text-align: center;
    .background {
        background-color: $purple;
    }
    p {
        color: $white;
        font-size: 1em;
    }
    .fab-ios {
        background-color: $pink;
        color: $white;
    }
    .meal {
        font-size: 1.5em;
    }
    .dinner {
        color: $pink;
        font-size: 2em;
        margin-top: 15vh;
    }
}