// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$purple: #251927;
$pink: #e76676;
$white: #f4f6f6;
$grey: #e6e6e6;
$darkgrey: #6a6172;

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nixie One', cursive;
}

body, p, a {
    font-family: 'Open Sans', sans-serif;
}

.meal {
    font-family: 'Nixie One', cursive;
}

.button {
    background: $white;
    border-bottom: 5px solid $grey;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 1em;
    color: $darkgrey;
    height: 45px;
    text-decoration: none;
    outline: 0;
    transition: all 0.1s;
    font-size: 16px;
    -webkit-transition: all 0.1s;
    &:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        border-bottom: 1px solid;
    }
}