<ion-header>
    <ion-toolbar>
        <ion-title>
            Add meals
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <h2>Add meal</h2>
    <ion-item>
        <ion-input type="text" name="meal" placeholder="e.g. pizza" [(ngModel)]="meal"></ion-input>
    </ion-item>
    <button ion-button (click)="saveMeal(meal)">
        Add meal
    </button>
    <h3>Your meals</h3>
    <ul>
        <li *ngFor="let item of items">
            {{item}}
        </li>
    </ul>
</ion-content>



<ion-footer>
    <ion-toolbar padding>
        <button ion-button (click)="dismiss()">
            Done
        </button>
        <ion-fab class="pos-relative">
            <button ion-fab mini (click)="confirmDelete()" class="delete-button">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-fab>
    </ion-toolbar>
</ion-footer>